@{
    ViewBag.Title = "Home Page";
}
<body background="~/Content/Background/world-bg.jpg">   </body>

<div class="jumbotron">
    <h2>Search Client</h2>
    <p>A powerful search engine for looking up people.</p>
    <p><a class="btn btn-primary" @Html.ActionLink("Start Searching!", "Search", "Home")</a></p>

</div>
