#button_add{
	font-size: 30px;
}

#type_title{
	font-weight: bold;
}

#main_form{
	background-color: #EAE6DA;
	border-radius: 25px;
}

#title_form{
	
	border-radius: 25px;
}

#radioBoxGroup{
	
	border-radius: 25px;
	background: #EADEDB
}

